.container {
  width: 95%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  font-weight: 700;
}

.slider {
  width: 100%;
}

.lables {
  display: flex;
  justify-content: space-between;
}
